@charset "UTF-8";

*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --black: #A8BDA5;
    --footer:#000000;
    --grey: #9a968b;
    --brown: #a3b899;
    --orange: #040f0f;
    --egg-shell: #774C60;
    --font-family: Georgia, "Times New Roman", Times, serif;

    font-size: 12px;
}










