@charset "UTF-8";

*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --black: #1B1A17;
    --grey: #9a968b;
    --brown: #A35709;
    --orange: #FF8303;
    --egg-shell: #F0E3CA;
    --font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
}


body {
    background-color: var(--black);
    color: var(--egg-shell);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

li,
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
}
h1,
h2 {
    color: var(--orange);
    text-align: center;
}
tr,
td{
    border: var(--orange) 3px solid;
}
button{
    border-color: var(--brown);
    border-radius: .5rem;
    background-color: var(--egg-shell);
    padding: .5rem 1rem;
    min-width: 8rem;
}
button:focus,
button:hover{
    border-color: var(--egg-shell);
    background-color: var(--orange);
}

.margin-btn{
    margin:1rem;
}
.table-cl{
    background-color: var(--brown);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--orange);
    padding: 10px;
    color: white;
    width: 100vw;
    min-width: 18.75rem;
    border: solid .5rem var(--brown);
}
.navbar-brand {
    font-size: 1rem;
    margin-left: 1rem;
}
.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.navbar-toggle span {
    background-color: white;
    height: 3px;
    margin: 4px;
    width: 25px;
}
.navbar-menu {
    display: flex;
    gap: 2rem;
    margin: 1rem;
}
.navbar-menu a {
    color: white;
    text-decoration: none;
}
.navbar-menu a:hover {
    text-decoration: underline;
}
/*Table*/
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 8px;
    border: 1px solid #ddd;
}
.td-alg{
    text-align: center;
    width: 25%;
}
